body {
    background-image:
        url('./assets/wave1.svg'),
        url('./assets/wave2.svg');
    background-position: center 72px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    padding-top: 4px;
    height: 72px;
    background-color: #D4F1F4;
}

header a {
    font-family: 'Montserrat', sans-serif;
    color: #1f2124;
    font-weight: 500;
    text-decoration:none;
    padding: 15px 25px 15px 25px;
}

header a.current{
    background-color: #75E6DA;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}

main div.search{
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 100px 100px 100px;
}

main div.search p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

main div.search input {
    margin: 2px 0 25px 5px;
}

main div.search div.card {
    margin: 2px 50px 0px 5px;
}



main div.find{
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div.find img{
    vertical-align: middle;
    width: 200px;
}

